Crossroads_DBHost="vault://crossroads/data/postgres/$PREFIX:host"
Crossroads_DBPort="vault://crossroads/data/postgres/$PREFIX:port"
Crossroads_DBUser="vault://crossroads/data/postgres/$PREFIX:user"
Crossroads_DBPassword="vault://crossroads/data/postgres/$PREFIX:password"
Crossroads_DBName="vault://crossroads/data/postgres/$PREFIX:dbName"
Crossroads_MinioUrl="vault://crossroads/data/minio/$PREFIX:url"
Crossroads_AccessKey="vault://crossroads/data/minio/$PREFIX:accessKey"
Crossroads_SecretKey="vault://crossroads/data/minio/$PREFIX:secretKey"
Crossroads_BucketName="vault://crossroads/data/minio/$PREFIX:bucketName"